* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(167, 7, 156);
}

header {
    background-color: rgb(156 78 152);
    font-weight: bolder;
    padding: 1.4rem 0;
}

h1 {
    padding-left: 0.8rem;
    color: white;
    letter-spacing: 0.2rem;
}

main {
    display: flex;
    justify-content: center;
    margin: 8% 0;
}

h2 {
    padding-bottom: 1.6rem;
}

#cuestionario {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cuestionario input {
    border-radius: 0.3rem;
    border: 1px solid rgb(156 78 152);
    background-color: rgb(248, 190, 245);
}

#cuestionario input, .opciones {
    width: 100%;
    padding: 0.6rem;
    margin: 0.4rem;
}

.opciones select {
    width: 65%;
}
